[core]
	pager = delta
	editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
	excludesfile = /Users/neogoose/.gitignore_global
	commentChar = ";"
[user]
	name = Dmitriy Kovalenko
	email = dmtr.kovalenko@outlook.com
[init]
	defaultBranch = main
[rerere]
	enabled = true

[merge]
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[diff]
	tool = delta
	renames = copy
[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[diftool "delta"]
	cmd = delta --color-only

[delta]
	line-numbers = true
	navigate = true
	dark = true

[pager]
        difftool = true

[push]
	autoSetupRemote = true
	default = current
[pull]
	rebase = true
[alias]
        hack = !sh -c 'git fetch --all && git checkout @{upstream} -t -b \"$@\"' _

[credential "smtp://smtp.office365.com:587"]
    helper = outlook
[sendemail]
    smtpserver = smtp.office365.com
    smtpuser = dmtr.kovalenko@outlook.com
    smtpencryption = tls
    smtpserverport = 587
    smtpauth = XOAUTH2
